<html>
	<body>
		<header>
			<h1>LeaderBoards</h1>
			<a href="/record/add">Submit your record</a>
		</header>
		{{ if .isEmpty}}
		<p>There are no records yet...</p>
		{{else}}
			{{range $title, $categories := .data}}
				<h2>{{$title}}</h2>
				{{range $category, $records := $categories}}	
					<h3>{{$category}}</h3>
					<table>
						<tr>
							<th>#</th>
							<th>Runner</th>
							<th>Time</th>
						</tr>
					{{range $i, $record := $records }}
						<tr>
							<td>{{inc $i}}</td>
							<td><a href="/record/show/{{$record.Runner}}">{{$record.Runner}}</a></td>
							<td><a href="{{$record.Url}}">{{parseRecord $record.Time}}</a></td>
						</tr>
						</a>
					{{end}}
					</table>
				{{end}}
			{{end}}
		{{end}}
	</body>
</html>

